@font-face {
    font-family: "SF Pro Display";
    src: url(../fonts/sf-pro-display_regular.woff2);
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: "SF Pro Display", sans-serif;
    font-weight: 400;
}

a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

.section-main {
    padding-top: 55px;
    text-align: center;
    min-height: 692px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #1D1D1F;
    margin-bottom: 12px;
}

.iphone-pro {
    background-image: image-set("../images/hero_iphone_17_pro.avif" type("image/avif"),
    "../images/hero_iphone_17_pro.webp",
    "../images/hero_iphone_17_pro.jpg"
    );
    color: #F5F5F7;
}

.iphone-air {
    background-image: image-set("../images/hero_iphone_air.avif" type("image/avif"),
    "../images/hero_iphone_air.webp",
    "../images/hero_iphone_air.jpg"
    );
}

.iphone {
    background-image: image-set("../images/hero_iphone_17.avif" type("image/avif"),
    "../images/hero_iphone_17.webp",
    "../images/hero_iphone_17.jpg"
    );
}

.section-main__title {
    font-size: 56px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 5px;
}

.section-main__subtext {
    font-size: 28px;
    line-height: 32px;
    max-width: 340px;
    margin: 0 auto 7px;
}

.section-main__text {
    font-size: 19px;
    line-height: 23px;
    margin-bottom: 15px;
    color: #6E6E73;
}

.btn-box {
    display: flex;
    justify-content: center;
    gap: 18px;
}

.btn {
    font-size: 17px;
    line-height: 20px;
    padding: 12px 22px;
    border-radius: 22px;
}

.btn-primary {
    color: #FFFFFF;
    background-color: #0071E3;
}

.btn-secondary {
background-color: transparent;
border: 1px solid #0071E3;
color: #0071E3;
}